/*CSS BOX model je box koji okruzuje svaki HTML ELEMENT. */
body {
  margin: 0px;
  background-color: #5d5ddc;
  /*opacity: 0.3;*/
}

.main {
  background-color: #ed141499;
  /* Opacity svojstvo daje prozirnost nasem elementu. */
  /* opacity: 0.5;*/
  width: 500px;
  height: 400px;
  /*margin: 100px;*/
  /* Definisanje margine za sve strane */
  /* Definisanje margine za svaku stranu posebno */
  /*margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-left: 100px;*/
  /* Definisanje preko margin gde dodeljujemo vise vrednosti. */
  /* prva vrednost je margin-top,
   druga margin-right,
    treca margin-botton,
     cetvrta margin-left*/
  /*margin: 50px 100px 60px 40px;*/
  /* margin: 60px 90px 120px;*/
  /* margin: auto; /*centriranje elementa*/
  /* margin: 40px auto;*/
  border: 3px solid black;
  border-radius: 20px;
  /*margin-top: 60px;
  margin-left: auto;
  margin-right: auto;*/
  margin: 60px auto 0px;
  /*border: 3px solid red;
  /*border: 3px doble red;
  /*border: 3px dotted red;*/
  /* pravila za padding su ista kao za margin. */
  border: 3px dashed red;
  border: 3px outset rosybrown;
  padding: 15px 30px;
}
.main p:hover {
  font-size: 24px;
  background-color: hotpink;
}
