* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  align-items: center;
  justify-content: center;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fcoffee-beans-background&psig=AOvVaw0b5dolZvT7iAilwX3TAfh-&ust=1675534097473000&source=images&cd=vfe&ved=2ahUKEwjp--OG-fn8AhVFCHcKHSmXB3wQjRx6BAgAEAo);
  background-size: cover;
  box-sizing: border-box;
}

nav {
  float: left;
  display: inline;
  background: rgb(61, 45, 45);
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-weight: bold;
  color: antiquewhite;
}

.img {
  height: 50px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: bisque;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

a .active,
a:hover {
  background: green;
  transition: 0.5s;
}

.card-box {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 15px;
  display: inline-block;
  margin: 40px;
  background-color: bisque;
  cursor: pointer;
  box-shadow: 0 9px 7px 0;
}

.text {
  width: 200px;
  display: inline-block;
  height: 100px;
  border-radius: 15px 15px 0 0;
}

.text {
  width: 250px;
  padding: 10px;
  font-size: medium;
  font-family: "Times New Roman";
  color: blue;
}
